# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [55]:
import numpy as np
import pandas as pd

nba = pd.read_csv('nbastats2018-2019 - nbastats2018-2019.csv')
nba

round(nba["Age"].mean())

#The average age is about 26

26

In [56]:
nba

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Trae Young,74,180,Atlanta Hawks,20,5356440,19.1,0.2,0.9,8.1,...,30.9,81,17.0,2.5,0.7,3.3,0.062,28.4,-1.1,0.6
517,Cody Zeller,84,240,Charlotte Hornets,26,13528090,10.1,0.8,0.8,2.1,...,25.4,49,17.2,2.6,1.2,3.9,0.150,16.3,2.0,1.2
518,Tyler Zeller,84,253,Atlanta Hawks,29,106974,7.7,0.5,0.2,0.7,...,15.5,6,17.3,0.2,0.1,0.3,0.167,20.1,-2.2,0.0
519,Ante Zizic,83,254,Cleveland Cavaliers,22,1952760,7.8,0.4,0.2,0.9,...,18.3,59,16.2,1.7,0.3,2.0,0.087,18.2,-3.1,-0.3
520,Ivica Zubac,85,240,Los Angeles Clippers,21,1544951,8.9,0.9,0.2,1.1,...,17.6,59,18.9,1.9,1.3,3.2,0.148,20.3,-0.3,0.5

# What player scored the most points?

In [17]:
nba
pts = nba.groupby("Name")["Points"].sum()
pts.sort_values(ascending=False)
#James Harden scored the most points

Name
James Harden             36.1
Paul George              28.0
Giannis Antetokounmpo    27.7
Joel Embiid              27.5
LeBron James             27.4
                         ...
George King               0.0
Andre Ingram              0.0
Okaro White               0.0
Kobi Simmons              0.0
Ike Anigbogu              0.0
Name: Points, Length: 521, dtype: float64

# What player had the most blocks during the season? Was it a post player (F/C)?

In [18]:
blks = nba.groupby("Name")["Blocks"].sum()
blks.sort_values(ascending=False)
#Myles turner had the most blocks

Name
Myles Turner             2.7
Anthony Davis            2.4
Mitchell Robinson        2.4
Rudy Gobert              2.3
Brook Lopez              2.2
                        ...
Sviatoslav Mykhailiuk    0.0
Furkan Korkmaz           0.0
Frank Jackson            0.0
Matthew Dellavedova      0.0
Zhou Qi                  0.0
Name: Blocks, Length: 521, dtype: float64

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [19]:
winshares = nba.groupby("Team")["WS"].sum()
winshares.sort_values(ascending=False)
#Milwaukee Bucks

Team
Milwaukee Bucks           63.0
Golden State Warriors     55.9
Utah Jazz                 53.6
Toronto Raptors           52.9
Philadelphia 76ers        52.8
Boston Celtics            52.0
Portland Trail Blazers    50.9
Denver Nuggets            50.5
Oklahoma City Thunder     49.2
Indiana Pacers            47.7
Los Angeles Clippers      46.5
San Antonio Spurs         45.9
Houston Rockets           45.7
Brooklyn Nets             45.4
Orlando Magic             43.6
Detroit Pistons           38.9
Charlotte Hornets         38.8
Sacramento Kings          38.4
New Orleans Pelicans      37.5
Minnesota Timberwolves    36.4
Miami Heat                35.7
Los Angeles Lakers        34.8
Dallas Mavericks          33.7
Washington Wizards        32.3
Memphis Grizzlies         30.9
New York Knicks           29.1
Phoenix Suns              28.9
Atlanta Hawks             28.0
Chicago Bulls             20.9
Cleveland Cavaliers       16.2
Name: WS, dtype: float64

# What player had the best 3-pt percentage?

In [20]:
nba.groupby("Name")["FG3%"].max().sort_values(ascending = False)


#the players with the best 3pt % are Eric Moreland, Scott Machando, Tevon Duval, Jordan Sibert.

Name
Eric Moreland       1.000
Scott Machado       1.000
Trevon Duval        1.000
Jordan Sibert       1.000
Troy Caupain        0.667
                    ...
Robert Williams       NaN
Rudy Gobert           NaN
Tony Bradley          NaN
Tristan Thompson      NaN
Zhou Qi               NaN
Name: FG3%, Length: 521, dtype: float64

# Who played the most minutes during the season

In [21]:
nba.groupby("Name")["MP"].max().sort_values(ascending = False)
#Bradley Beal and Paul George

Name
Bradley Beal         36.9
Paul George          36.9
James Harden         36.8
Russell Westbrook    36.0
Jrue Holiday         35.9
                     ...
Trevon Duval          2.0
Okaro White           2.0
Ike Anigbogu          2.0
Zhou Qi               1.0
Donte Grantham        0.7
Name: MP, Length: 521, dtype: float64

# What player given their player effiecency rating was the clutchest during the season?

In [62]:
#come baack
highest_per = nba['PER'].max()
cluchest_player = nba[nba['PER'] == highest_per]
cluchest_player
#Zhou Qi is the clutchest

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
405,Zhou Qi,85,210,Houston Rockets,23,506134,2.0,0.0,0.0,0.0,...,1.0,1,80.4,0.0,0.0,0.0,1.261,43.4,9.5,0.0

# What team had the youngest roster?

In [22]:
nba.groupby("Team")["Age"].mean().sort_values()
#The chicago bulls had the youngest roster

Team
Chicago Bulls             24.312500
Sacramento Kings          24.400000
Orlando Magic             24.533333
New York Knicks           24.625000
Phoenix Suns              24.761905
Portland Trail Blazers    24.857143
Indiana Pacers            25.058824
Denver Nuggets            25.266667
Brooklyn Nets             25.555556
Boston Celtics            25.600000
Memphis Grizzlies         25.647059
Oklahoma City Thunder     25.750000
New Orleans Pelicans      25.777778
Cleveland Cavaliers       26.000000
Charlotte Hornets         26.000000
Detroit Pistons           26.266667
Philadelphia 76ers        26.352941
Atlanta Hawks             26.476190
Los Angeles Lakers        26.625000
Minnesota Timberwolves    26.625000
Washington Wizards        26.764706
Milwaukee Bucks           26.928571
Los Angeles Clippers      27.105263
Utah Jazz                 27.133333
Toronto Raptors           27.166667
Golden State Warriors     27.866667
Dallas Mavericks          27.866667
Houston Rockets           27.923077
San Antonio Spurs         28.133333
Miami Heat                28.181818
Name: Age, dtype: float64

# Who is the highest paid player during the seasion?

In [91]:
#player_salary = nba.groupby('Name')['Salary'].sum()
#nba_salary = nba['Salary'].sort_values().fillna(0)
nba.groupby("Name"["Salary"].max().sort_values(ascending = False)

Name
John Jenkins             99290
Devonte' Graham         988464
Dwight Powell          9631250
Matthew Dellavedova    9607500
Dante Exum             9600000
                        ...
Deng Adel                    -
Jordan McRae                 -
PJ Dozier                    -
Deonte Burton                -
Johnathan Williams           -
Name: Salary, Length: 521, dtype: object

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [69]:
filtered_nba = nba[nba['FTA'] != 0]
filtered_nba.sort_values('FT%')
#I thought it would be important to pull players have atleast attempted a freethrow ,
#of players that have attempted a free throw, Terrence Jones has the the lowest FT%, it is importanted to note
#that Terrance also has a low FTA!

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
268,Terrence Jones,81,252,Houston Rockets,27,198580,1.0,0.0,0.0,0.0,...,2.5,2,-15.8,-0.1,0.0,-0.1,-0.661,47.2,-52.3,-0.1
356,Donatas Motiejunas,84,222,San Antonio Spurs,28,59820,2.0,0.3,0.0,0.3,...,4.3,3,-0.5,-0.1,0.0,-0.1,-0.246,33.5,-11.5,0.0
325,Tahjere McCall,77,195,Brooklyn Nets,24,47371,4.0,0.0,0.0,0.0,...,8.0,1,9.6,0.0,0.0,0.0,0.055,18.1,-9.8,0.0
502,C.J. Williams,77,226,NaN,28,-,2.6,0.0,0.4,0.8,...,8.5,15,8.8,0.1,0.1,0.1,0.042,13.3,-4.0,-0.1
360,Dzanan Musa,81,208,Brooklyn Nets,19,1632240,2.1,0.0,0.2,0.2,...,4.3,9,5.8,-0.2,0.0,-0.1,-0.152,29.0,-10.4,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Lorenzo Brown,77,189,Toronto Raptors,28,800000,2.1,0.2,0.5,1.1,...,8.2,26,6.3,-0.5,0.3,-0.1,-0.027,17.9,-4.3,-0.1
175,Billy Garrett,78,213,NaN,24,-,6.5,0.3,0.3,1.8,...,15.8,4,9.8,0.0,0.0,0.0,-0.019,20.9,-8.4,-0.1
170,Jimmer Fredette,74,195,Phoenix Suns,29,198580,3.7,0.0,0.5,1.3,...,10.8,6,3.6,-0.2,0.0,-0.2,-0.166,24.2,-11.1,-0.1
259,B.J. Johnson,79,200,Atlanta Hawks,23,94742,3.3,0.0,0.3,0.0,...,7.0,7,12.8,0.0,0.0,0.1,0.066,17.4,-8.5,-0.1
55,Andrew Bogut,84,260,Golden State Warriors,34,2393887,3.5,0.7,0.3,1.0,...,12.2,11,13.4,0.1,0.2,0.3,0.111,14.5,-1.3,0.0